{% extends 'base.html.twig' %}

{% block title %}
	CATEGORIE
{% endblock %}

{% block header %}
{% include 'user-menu.html.twig' %}
{% endblock %}

{% block body %}
<h1>CATEGORIE</h1>
{% endblock %}

{% block footer %}

{% endblock %}
