{% extends 'base.html.twig' %}

{% block title %}
UTILISATEURS
{% endblock %}

{% block header %}
{% include 'admin-menu.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="text-center" >UTILISATEURS</h1>
{% endblock %}

{% block footer %}
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
{% endblock %}
